<script src="https://giscus.app/client.js"
        data-repo="wwha/dg-obsidian"
        data-repo-id="R_kgDOLXcXBw"
        data-category="General"
        data-category-id="DIC_kwDOLXcXB84Cdrqh"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
